In [2]:
#Create Dummy Data
import pandas as pd

df_a = pd.DataFrame({
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']})
        
#df_a = pd.DataFrame(sanjayrows)        
               
df_b = pd.DataFrame({
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']})
        
#df_b = pd.DataFrame(sanjayrows1)        
               
#df_c = pd.DataFrame({
        #'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        #'test_id': ['51', '15', '15', '61', '16', '14', '15', '1', '61', '16']})
        
#df_c = pd.DataFrame(sanjayrows2)

In [3]:
pd.merge(df_a, df_b, on='subject_id', how='inner')

  subject_id first_name_x last_name_x first_name_y last_name_y
0          4        Alice        Aoni        Billy      Bonder
1          5       Ayoung     Atiches        Brian       Black