In [31]:
import sqlalchemy #Borrow API/Package/Library for accessing databases in generel 
import mysql #Borrow Driver for accessing mysql DB in specific 

#My local database URL
sanjaydatabaseurl = 'mysql://root:4646@localhost/dvdrental?charset=utf8mb4&binary_prefix=true'
print('estabilishing database connection.inprogress...')

estabilishing database connection.inprogress...

In [32]:
from sqlalchemy import create_engine #Spend Decide API/Package/Library for accessing databases in generel
engine = create_engine(sanjaydatabaseurl) #Spend Plan API/Package/Library for accessing databases in generel
connection = engine.connect() #Spend the API/money API/Package/Library for accessing databases in generel
connection = connection.execution_options(isolation_level="READ COMMITTED") # just READ

In [ ]:
from sqlalchemy.sql import text
MyQuery = text("select * from address") #Enjoy the be1`nfits of API API/Package/Library for accessing databases in generel
sanjayrows = connection.execute(MyQuery).fetchall() 
print(sanjayrows)

In [ ]:
import pandas as pd
import numpy as np
data_sanjayrows = pd.DataFrame(sanjayrows)
data_sanjayrows.columns = ['address_id', 'address', 'address2', 'district', 'city_id', 'postal_code', 'phone', 'last_update']
#data_sanjayrows
#accessing row wise
data_sanjayrows.apply(lambda x: x)
connection.close()

In [ ]:
# access first row
data_sanjayrows.apply(lambda x: x[0])

In [19]:
# access first column by index
data_sanjayrows.apply(lambda x: x[0], axis=1)

0        1
1        2
2        3
3        4
4        5
      ...
598    601
599    602
600    603
601    604
602    605
Length: 603, dtype: int64

In [20]:
#access by column name
data_sanjayrows.apply(lambda x: x["address"], axis=1)[:5]

0       47 MySakila Drive
1      28 MySQL Boulevard
2       23 Workhaven Lane
3    1411 Lillydale Drive
4          1913 Hanoi Way
dtype: object

In [21]:
#import pandas as pd
#data_sanjayrows = pd.DataFrame(sanjayrows)
#data_sanjayrows.apply(lambda x: x)
#data_sanjayrows.columns = ['address_id', 'address', 'address2', 'district', 'city_id', 'postal_code', 'phone', 'last_update']

In [25]:
# before clipping
data_sanjayrows["city_id"][:5]

0    300
1    576
2    300
3    576
4    463
Name: city_id, dtype: object

In [29]:
# clip city_id if it is greater than 0 and less than equat to 200
def clip_city_id(city_id):
    if city_id > 0 and city_id <=200 :
        city_id = "Apple"
        return city_id
    
# after clipping
data_sanjayrows["city_id"].apply(lambda x: clip_city_id(x))

TypeError: '>' not supported between instances of 'str' and 'int'

In [24]:
def clip_city_id(city_id):
    if city_id > 0 and city_id <=200 :
        city_id = "apple"
    elif city_id > 200 and city_id <=300:
        city_id = "mango"
    elif city_id >400 and city_id <=500:
        city_id = "orange"
    else:
        city_id = "banana"
    return city_id

state_output = data_sanjayrows["city_id"].apply(lambda x: clip_city_id(x)) [:200]
#state_output.rename(columns = {'city_id':'Fruits'}, inplace = True)
#print(Fruits_output)
#print(data_sanjayrows)
#result = pd.merge(data_sanjayrows,pd.DataFrame(Fruits_output), on='city_id', how='right')
#result
#pd.merge(data_sanjayrows, pd.DataFrame(Fruits_output))
#type(pd.DataFrame(Fruits_output))
#type(data_sanjayrows)
result = pd.concat([data_sanjayrows,pd.DataFrame(Fruits_output)], axis=1)
result.columns = ['address_id', 'address', 'address2', 'district', 'city_id', 'postal_code', 'phone', 'last_update', 'Fruits']
pd.DataFrame(result)

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
def clip_city_id2(city_id):
    if city_id > 0 and city_id <=100 :
        city_id = "ALPHA"
    elif city_id > 100 and city_id <=300:
        city_id = "BETA"
    elif city_id >400 and city_id <=500:
        city_id = "DELTA"
    else:
        city_id = "GAMA"
    return city_id

#data_srinurow["city_id"].apply(lambda x: clip_city_id2(x)) [:100]
data_srinurow